<div class="container">
    <div class="row">
      <div class="col">
        <div >
        <a [routerLink]="['/actualiza',indice]">
            <!--uSO DE VARIABLES DECLARADAS YA Y PROCEDENTES DEL PADRE -->
        {{indice+1}}: {{empleadoDeLista.nombre}}  {{empleadoDeLista.apellido}}  {{empleadoDeLista.cargo}}  {{empleadoDeLista.salario}}
         
      </a>
        </div>

       

        <ul style="list-style: none;">
          <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
        </ul>

      </div>

      <app-caracteristicas-empleado-c (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>
  
  
    </div>
  
  </div>